<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
    <div class="container-tela">
        <div class="container-home">
            <div class="row">
                <div class="grid-12">
                    <h4 th:text="${message}"></h4>
                    <div class="mt-3">
                        <button class="btn" th:onclick="'window.location.href=\'/cadastrar\''">Cadastrar</button>
                        <button class="btn" th:onclick="'window.location.href=\'/login\''">Login</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>